script#home(type="text/ng-template")
    div(class = "jumbotron mainJumbo")
        div(class = "container")
            h1.
                {{welcomeMessage}}
            p.
                Enter your Realm and Guild name to see your raid progression!
    div(class = "well")
        div.container
            h2.text-center
             | Search for Guild
            div.container
                div.container.col-md-12.col-lg-12.col-sm-12.center
                    form(role="form")
                        div(class = "form-group")
                            label(for="realmName") Realm
                            input(type = "input", class = "form-control", id ="iRealmName", ng-model = "realm", placeholder = "Enter Realm Name")
                        div(class = "form-group")
                            label(for="guildName") Guild
                            input(type = "input", class = "form-control", id ="iRealmName", ng-model = "guild", placeholder = "Enter Guild Name")
                        div(class = "form-group", ng-show = "false")
                            label(for="characterName") Character
                            input(type = "input", class = "form-control", id ="iRealmName", ng-model = "characterName", placeholder = "Enter Character Name")
                        button(type = "button", class = "btn btn-primary", ng-click = "getCharacter()")
                           | Get Info
                        img(ng-show = "showLoadingGif", src = "images/loading.gif")
    div(class = "well", ng-show = "showGuild").guildWell
        div().container
            div()
                h1.text-center
                    | Guild Name Here
            div.container.text-center
                div.row
                    div.col-md-6
                        h3
                            | Realm
                            br
                            small
                                | someRealm
                    div.col-md-6
                        h3
                            | Members
                            br
                            small
                                | #ofMembers
    div(ng-class = "classColor", ng-show = "false").well
        div.container
            img(ng-src = "{{characterImage}}").fixedPosition
            div()
                h1.text-center
                    {{characterName}}
            div.container
                div.row
                    div.col-md-4.text-center
                        h3
                            | iLevel
                            br
                            small
                                {{iLvl}}
                    div.col-md-4.text-center
                        h3
                            | Acheivment Points
                            br
                            small
                                {{achievmentPoints}}
                    div.col-md-4.text-center
                        h3
                            | Specs
                            br
                            small
                                | Resto & Elemental
    div(class = "well").wodGradient
        div().container.text-center
            div.container
                div().row.center
                    div.col-md-4
                    div.col-md-4.wodBanner
            div.container
                tabset()
                    tab(heading = "Normals")
                        div.container.text-center
                            div.row
                                div(ng-repeat = "raid in wodNormalsData", class = "guildProgression").col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        {{raid.name}}
                                    div()
                                        div.progress-data
                                            h3
                                                {{raid.currentKills}}/{{raid.total}}
                                        div(
                                            round-progress,
                                            max="raid.total",
                                            current="raid.currentKills",
                                            color="{{progressColor}}",
                                            bgcolor="{{bgColor}}",
                                            radius="{{radius}}",
                                            stroke="{{stroke}}",
                                            semi="isSemi")
                    tab(heading = "Heroics")
                        div.container.text-center
                            div.row
                                div(ng-repeat = "raid in wodHeroicData", class = "guildProgression").col-md-3.col-sm-3
                                    h2.text-center.raidHeaders
                                        {{raid.name}}
                                    div()
                                        div.progress-data
                                            h3
                                                {{raid.currentKills}}/{{raid.total}}
                                        div(
                                            round-progress,
                                            max="raid.total",
                                            current="raid.currentKills",
                                            color="{{progressColor}}",
                                            bgcolor="{{bgColor}}",
                                            radius="{{radius}}",
                                            stroke="{{stroke}}",
                                            semi="isSemi")


    div(class = "well").mopGradient
        div().container.text-center
            div.container
                div().row.center
                    div.col-md-4
                    div.col-md-4.mopBanner
            tabset()
               tab(heading = "Normals")
                   div.container.text-center
                    div.row
                        div(ng-repeat = "raid in mopData", class = "guildProgression").col-md-2.col-sm-4
                            h2.text-center.raidHeaders
                                {{raid.name}}
                            div()
                                div.progress-data
                                    h3
                                        {{raid.currentKills}}/{{raid.total}}
                            div(
                                round-progress,
                                max="raid.total",
                                current="raid.currentKills",
                                color="{{progressColor}}",
                                bgcolor="{{bgColor}}",
                                radius="{{radius}}",
                                stroke="{{stroke}}",
                                semi="isSemi")
               tab(heading = "Heroics")
                    div.container.text-center
                        div.row
                            div(ng-repeat = "raid in mopData", class = "guildProgression").col-md-2.col-sm-4
                                h2.text-center.raidHeaders
                                    {{raid.name}}
                                div()
                                    div.progress-data
                                        h3
                                            {{raid.currentKills}}/{{raid.total}}
                                div(
                                    round-progress,
                                    max="raid.total",
                                    current="raid.currentKills",
                                    color="{{progressColor}}",
                                    bgcolor="{{bgColor}}",
                                    radius="{{radius}}",
                                    stroke="{{stroke}}",
                                    semi="isSemi")
    div(class = "well").cataGradient
        div().container.text-center
            div.container
                div().row.center
                    div.col-md-4
                    div.col-md-4.cataBanner
            div.container.text-center
                div.row
                    div(ng-repeat = "raid in cataData", class = "guildProgression").col-md-3.col-sm-4
                        h2.text-center.raidHeaders
                            {{raid.name}}
                        div()
                            div.progress-data
                                h3
                                    {{raid.currentKills}}/{{raid.total}}
                            div(
                                round-progress,
                                max="raid.total",
                                current="raid.currentKills",
                                color="{{progressColor}}",
                                bgcolor="{{bgColor}}",
                                radius="{{radius}}",
                                stroke="{{stroke}}",
                                semi="isSemi")

    div(class = "well").wotlkGradient
        div().container.text-center
            div.container
                div().row.center
                    div.col-md-4
                    div.col-md-4.wotlkBanner
            div.container.text-center
                div.row
                    div(ng-repeat = "raid in wotlkData", class = "guildProgression").col-md-3.col-sm-4
                        h2.text-center.raidHeaders
                            {{raid.name}}
                        div()
                            div.progress-data
                                h3
                                    {{raid.currentKills}}/{{raid.total}}
                            div(
                                round-progress,
                                max="raid.total",
                                current="raid.currentKills",
                                color="{{progressColor}}",
                                bgcolor="{{bgColor}}",
                                radius="{{radius}}",
                                stroke="{{stroke}}",
                                semi="isSemi")

    div(class = "well").bcGradient
        div().container.text-center
            div.container
                div().row.center
                    div.col-md-4
                    div.col-md-4.bcBanner
            div.container.text-center
                div.row
                    div(class = "guildProgression").col-md-4
                        h2.text-center
                            | Raid 1
                        div.progress-data
                            h3
                                | 15/20
                        div(
                            round-progress,
                            max="progressMax",
                            current="progressCurrent",
                            color="{{progressColor}}",
                            bgcolor="{{bgColor}}",
                            radius="{{radius}}",
                            stroke="{{stroke}}",
                            semi="isSemi")
                    div(class = "guildProgression").col-md-4
                        h2.text-center
                            | Raid 2
                        div.progress-data
                            h3
                                | 15/20
                        div(
                            round-progress,
                            max="progressMax",
                            current="progressCurrent",
                            color="{{progressColor}}",
                            bgcolor="{{bgColor}}",
                            radius="{{radius}}",
                            stroke="{{stroke}}",
                            semi="isSemi")
                    div(class = "guildProgression").col-md-4
                        h2.text-center
                            | Raid 3
                        div.progress-data
                            h3
                                | 15/20
                        div(
                            round-progress,
                            max="progressMax",
                            current="progressCurrent",
                            color="{{progressColor}}",
                            bgcolor="{{bgColor}}",
                            radius="{{radius}}",
                            stroke="{{stroke}}",
                            semi="isSemi")




