script#home(type="text/ng-template")
    div(ang:round:progress data-round-progress-model="roundProgressData",
    data-round-progress-width="500",
    data-round-progress-height="500",
    data-round-progress-outer-circle-width="40",
    data-round-progress-inner-circle-width="10",
    data-round-progress-outer-circle-radius="200",
    data-round-progress-inner-circle-radius="140",
    data-round-progress-label-font="100pt Arial",
    data-round-progress-outer-circle-background-color="#505769",
    data-round-progress-outer-circle-foreground-color="#12eeb9",
    data-round-progress-inner-circle-color="#505769",
    data-round-progress-label-color="#fff")
    div(class = "jumbotron mainJumbo")
        div(class = "container")
            h1.
                {{welcomeMessage}}
            p.
                Enter your Realm and Guild name to see your raid progression!
    div(class = "well")
        div.container
            h2
             | Get Started
            div(class = "requiredInfo")
                form(role="form")
                    div(class = "form-group")
                        label(for="realmName") Realm
                        input(type = "input", class = "form-control", id ="iRealmName", ng-model = "realm", placeholder = "Enter Realm Name")
                    div(class = "form-group")
                        label(for="guildName") Guild
                        input(type = "input", class = "form-control", id ="iRealmName", ng-model = "guild", placeholder = "Enter Realm Name")
                    div(class = "form-group")
                        label(for="characterName") Character
                        input(type = "input", class = "form-control", id ="iRealmName", ng-model = "character", placeholder = "Enter Realm Name")
                    button(type = "button", class = "btn btn-primary", ng-click = "getCharacter()")
                       | Create An Event
    div(class = "well")
        div(ang:round:progress data-round-progress-model = "data")
        input(ng-model = "data.label")
